* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: red;
}
.homework {
    text-align: center;
}

.h1 {
    font-size: 100px;
    color: white;
    margin-bottom: 50px;
}

.add {
    margin-left: 20px;
    background-color: blueviolet;
    width: 70px;
    height: 40px;
    border-radius: 10px;
}


.input {
    background-color: white;
    width: 250px;
    height: 40px;
    border-radius: 5px;
    padding: 10px
}

.list {
    background-color: white;
    width: 400px;
    height: 200px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 20px;
}

.item {
    padding: 5px;
    background-color: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}
.item div button{
    width: 50px;
    height: 30px;
}